<div style="background-color: #f3b624; color: red; font-weight: bold; padding: 0 10px 0 10px; margin: auto; border-radius: 20px;">
{{message}}
</div>
<div style="background-color: #f3b624; color: blue; font-weight: bold; padding: 0 10px 0 10px; margin: auto; border-radius: 20px;">
{{content}}
</div>
